<!DOCTYPE html>
<html>
    <head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

table,
      th,
      td {
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
      }
      .url_value {
        display: none;
      }

th, td {
  text-align: left;
  padding: 8px;
}

.no_tasks_text{
  text-align: center;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
    <script src="{{ url_for('static', filename='sorttable.js') }}"></script>
    </head>

    <body>
        {% if message %}
        <p style="color: red;">{{message}}</p>
        {%endif %}
        <h1>Tasks</h1>

        <h2>Submit new task(s)</h2>
        <p>Please note each url must be on a new line</p>

        <form method="POST" action="/task">
            <textarea type = "text" name = "input_data" rows="5" cols="50vw" placeholder="input data"></textarea>
            <p></p>
            <div class="input submit">
              <input type="submit" value="Submit"/>
            </div>
        </form>

        <p></p>
        <p></p>

        <h2>Pending Tasks</h2>
        
        <table>
            <tr>
                <th>Task ID</th>
                <th>Task Type</th>
                <th>Input Data</th>
                <th>Status</th>
                <th>Created at</th>
                <th>Assigned at</ht>
            </tr>

            {% for task in tasks %}
            <tr>
                <td><a href="./result?task_id={{task.task_id}}">{{task.task_id}}</a></td>
                <td>{{task.task_type}}</td>
                <td>{{task.input_data}}</td>
                <td>{{task.status}}</td>
                <td>{{task.created_at}}</td>
                <td>{{task.assigned_at}}
            </tr>
            {% endfor %}
        </table>

        {% if tasks|length == 0 %}
            <p class="no_tasks_text">Good news, all tasks have been completed!</p>
        {% endif %}

        <p></p>
        <p></p>

        <h2>Projects Summary</h2>

        <table class="sortable" id="dynamic_table">
            <thead><tr>
                <th>Docs</th>
                <th>Urls Audited</th>
                <th>Images</th>
                <th>Links</th>
                <th>Image Issues</th>
                <th>Link Issues</th>
            </tr></thead>
            <tbody>
            {% for docs in projects %}
            <tr>
            <td><a href="./project_details?docs_base_url={{docs}}">{{docs}}</a></td>
            <td>{{projects[docs]['count']}}</td>
            <td>{{projects[docs]['images']}}</td>
            <td>{{projects[docs]['links']}}</td>
            <td>{{projects[docs]['oversize_images']}}</td>
            <td>{{projects[docs]['broken_links']}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>