<html>
  <style>
    .url_value {
        display: none;
      }
    .broken {
      color: red;
      display: inline;
    }
    .green {
      color: green;
      display: inline;
    }
  </style>
  <body>
    <h2>Audit for {{url}} complete</h2>
    <a href="{{ url_for('dashboard') }}">Home</a>
    {% if links['last_crawl'] is defined %}
    <h3>Last crawl performed on {{ links['last_crawl'] }}</h3>
    {% endif %}
    <h3>We found:</h3>
    <p>[{{ total_images }}] images (issues with {{images|length}}/{{total_images}})</p>

    <p>[{{ links['total_links'] }}] links (issues with {{links['broken_links']|length}}/{{ links['total_links'] }})</p>

    <form action="/recrawl" method="POST">
      <input class="url_value" type="text" name="task_ids" value={{task_ids}}/>
      <input type="submit" value="Recrawl Page"/>
    </form>

    <h3>Issues:</h3>

    <ul>
    {% for image in images %}
    <li>Image <p class="broken">{{image['path']}}</p> was <p class="broken">{{image['size']}}</p> kb. We recommend <p class="green">100 KB</p> as the max size.</li>
    {% endfor %}
    </ul>

    <ul>
    {% for link in links['broken_links'] %}
    <li><p class="broken">{{link['link']}}</p> returned code {{link['code']}}</li>
    {% endfor %}
    </ul>

    {% if links['working_links'] is defined %}
    <h3>The links below are working:</h3>

    <ul>
    {% for link in links['working_links'] %}
    <li>{{link}} </li>
    {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>