{% extends 'base.html' %}

{% block content %}

    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
        <div class="container px-5">
            <a class="navbar-brand fw-bold" href="#page-top">Docs Audit</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                    <li class="nav-item">
                        <form action="/recrawl" method="POST">
                            <input style="display: none;" type="text" name="task_ids" value={{ task_ids }}>
                            <button type="submit" class="btn btn-outline-primary rounded-pill">
                               <span class="d-flex align-items-center">
                                    <i class="bi bi-bug-fill me-2"></i>
                                    <span class="small">Recrawl Page</span>
                                </span>
                            </button>
                        </form>
                    </li>
                </ul>
                <a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" href="{{ url_for('dashboard') }}">
                    <span class="d-flex align-items-center">
                        <i class="bi bi-house-fill me-2"></i>
                        <span class="small">Home</span>
                    </span>
                </a>
            </div>
        </div>
    </nav>

    <section style="min-height: 100vh;">
        <div class="container px-5 py-5">
            <div class="mb-3">
                <h5>Audit for <span class="link-primary">{{ url }}</span> complete</h5>
            </div>

            {% if results['last_crawl'] is defined %}
                <div class=" pt-3 pb-4 px-3 "><span>Last crawl performed on {{ results['last_crawl'] }}</span></div>
            {% endif %}

            <div class="my-5 row">
                <div class=" col-6 justify-content-center">
                    <div class=" bd-callout bd-callout-card py-3 px-4">
                        <h3>Images</h3>
                        <h2>{{ total_images }}</h2>
                        <span>issues with {{ images|length }}/{{ total_images }}</span>
                        <p>Image audit time: {{ results['image_audit_time']}}</p>
                    </div>
                </div>

                <div class=" col-6 ">
                    <div class="  bd-callout bd-callout-card py-3 px-4 ml-4">
                        <h3>Links</h3>
                        <h2>{{ results['total_links'] }}</h2>
                        <span>issues with {{ results['broken_links']|length }}/{{ results['total_links'] }}</span>
                        <p>Link audit time: {{ results['link_audit_time']}}</p>
                    </div>
                </div>
            </div>

            <div class="mt-4">

                <ul class="nav nav-tabs" id="myTab" role="tablist" data-tabs="tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="issues-tab" data-toggle="tab" href="#issues" role="tab"
                           aria-controls="issues" aria-selected="false">Issues</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="working-tab" data-toggle="tab" href="#working" role="tab"
                           aria-controls="working" aria-selected="true">Working Links</a>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="issues" role="tabpanel" aria-labelledby="home-tab">

                        {% if results['broken_links']|length > 0 %}
                        <h3 class="my-4">Link Issues:</h3>

                        <table class="table table-borderless table-striped sortable">
                        <thead>
                        <tr>
                          <th>Url</th>
                          <th>Code</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for link in results['broken_links'] %}
                            <tr>
                              <td>{{ link['link'] }}</td>
                              <td>{{ link['code'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                        {% endif %}

                        {% if images|length > 0 %}
                        <h3 class="my-4">Image Issues:</h3>

                        <table class="table table-borderless table-striped sortable">
                        <thead>
                        <tr>
                          <th>Url</th>
                          <th>Size (kb)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for image in images %}
                            <tr>
                              <td>{{ image['path'] }}</td>
                              <td>{{ image['size'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                        {% endif %}

                        {% if results['working_links']|length > 0 %}
                        <h3 class="my-4">Working Links:</h3>

                        <table class="table table-borderless table-striped sortable">
                        <thead>
                        <tr>
                          <th>Url</th>
                          <th>Code</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for link in results['working_links'] %}
                            <tr>
                              <td>{{ link }}</td>
                              <td>{{ 200 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                        {% endif %}

                      {% if results['right_size_images']|length > 0 %}
                        <h3 class="my-4">Right Size Images:</h3>

                        <table class="table table-borderless table-striped sortable">
                        <thead>
                        <tr>
                          <th>Url</th>
                          <th>Size (kb)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for image in results['right_size_images'] %}
                            <tr>
                              <td>{{ image['path'] }}</td>
                              <td>{{ image['size'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                        {% endif %}
              
                    </div>

                    <div class="tab-pane fade" id="working" role="tabpanel" aria-labelledby="working-tab">

                        {% if results['working_links'] is defined %}
                            <h3 class="my-4">The links below are working:</h3>

                            <ul>
                                {% for link in results['working_links'] %}
                                    <li>{{ link }} </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </section>


    <footer class="bg-black text-center py-5">
        <div class="container px-5">
            <div class="text-white-50 small">
                <div class="mb-2">&copy; Ritza,
                    <script>document.write(new Date().getFullYear())</script>

                </div>
            </div>
        </div>
    </footer>

{% endblock %}


{% block scripts %}
    <script src="{{ url_for('static', filename='sorttable.js') }}"></script>
    <script type="text/javascript">
        $('#myTab a').on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
        })
    </script>
{% endblock %}