{% extends 'base.html' %} {% block content %}

<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
	<div class="container px-5">
		<a class="navbar-brand fw-bold" href="{{ url_for('dashboard') }}">Docs Audit</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                </ul>
                <a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" href="{{ url_for('dashboard') }}">
                    <span class="d-flex align-items-center">
                        <i class="bi bi-house-fill me-2"></i>
                        <span class="small">Home</span>
                    </span>
                </a>
            </div>
        </div>
    </nav>

    <section style="min-height: 90vh;">
        <div class="container px-5 py-5">
          <h1 class="display-6 lh-1 mb-4 text-center">Audit Collection Results</h1>
            <div class="mb-4 d-flex flex-wrap border-top border-bottom py-1 justify-content-around">
              <div class="py-2 px-3 d-flex center-mod">
                  <span style="font-size: 1.8rem"><i class="bi bi-file-earmark-medical"></i></span>
                  <span class="text-muted ms-2">{{ url }}</span>
                </div>
                <div class=" py-2 px-3 ms-3 d-flex center-mod">
                  <b>Audited Page(s):</b>
                  <span class="text-muted ms-1">{{ collection|length }}</span>
                </div>
            </div>

            <table class="table table-borderless table-striped sortable" id="dynamic_table">
                <thead>
                <tr>
                    <th>Url</th>
                    <th class="text-center">Image Issues</th>
                    <th class="text-center">Link Issues</th>
                    <th class="text-center">Performance (%)</th>
                </tr>
                </thead>
                <tbody>
                {% for page in collection %}
                    <tr>
                        <td><a href="./details?page_url={{ page }}">{{ page }}</a></td>
                        <td class="text-center" sorttable_customkey={{ collection[page]['oversize_images'] }}>{{ collection[page]['oversize_images'] }}/{{ collection[page]['image_count'] }}</td>
                        <td class="text-center" sorttable_customkey={{ collection[page]['broken_links'] }}>{{ collection[page]['broken_links'] }}/{{ collection[page]['total_links'] }}</td>
                        {% if collection[page]['performance'] == 0 %}
                          <td class="text-center">-</td>
                        {% else %}
                            <td class="text-center">{{ collection[page]['performance']|int }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <footer class="bg-black text-center py-5">
        <div class="container px-5">
            <div class="text-white-50 small">
                <div class="mb-2">&copy; Ritza,
                    <script>document.write(new Date().getFullYear())</script>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}